/.gitignore
/Biohazard.jks
/.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
src/Calendar/
src/MMS/
src/Messaging/
src/Pandora/
src/Settings/res/drawable/ic_settings_universe.xml
src/SuperSu/res/values/
src/WhatsApp/
src/com.cyanogenmod.lockclock/
src/com.cyanogenmod.settings.device/
src/com.dirtyunicorns.about/
src/com.dirtyunicorns.certified/
src/com.dirtyunicorns.dutweaks/
src/com.dirtyunicorns.duupdater/
src/main/res/
src/org.omnirom.omniswitch/
src/main/assets/
src/main/assets/icons/
src/main/assets/overlays/
/Labs/
