<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pierx.biohazard">

    <uses-feature
        android:name="org.cyanogenmod.theme"
        android:required="false"/>

    <meta-data
        android:name="org.cyanogenmod.theme.name"
        android:value="@string/ThemeName"/>
    <meta-data
        android:name="org.cyanogenmod.theme.author"
        android:value="@string/ThemeAuthor"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/ThemeName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubstratumLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="Substratum_Legacy"
            android:value="true"/>
        <meta-data
            android:name="Substratum_Name"
            android:value="@string/ThemeName"/>
        <meta-data
            android:name="Substratum_Author"
            android:value="@string/ThemeAuthor"/>
        <meta-data
            android:name="Substratum_Plugin"
            android:value="5.1.2"/>
        <meta-data
            android:name="Substratum_Mode"
            android:value="@string/ThemeType"/>
    </application>
</manifest>